$slide-height: 545px;
$negative-controls: -50px;

.slideshow-content {
  background-image: url(/images/layout/slideshow-background.jpg);
  background-size: cover;
  background-color: #222;

  .slideshow-list {
    height: $slide-height;
    overflow: hidden;
    box-shadow: 0px 0px 40px 20px #000;

    .slideshow-item {
      height: $slide-height;

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right:0;
        z-index: 2;
      }
    }
  }

  .slideshow-label {
    background-color: #fff;
    position: absolute;
    bottom: -100px;
    width: 70%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 5;
    border-bottom: 1px solid #222;
    padding: 30px 0;

    .slideshow-label-content {}

    .slideshow-label-btn {
      position: absolute;
      width: 100%;
    }

    .slideshow-label-title, .slideshow-label-desc {
      padding: 0 20px;
    }

    .slideshow-label-title {
      font-size: 40px;
      margin: 0 auto;
    }

    .slideshow-label-desc {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .slideshow-control {
    .slideshow-control-btn, .slideshow-control-num {
      position: absolute;
    }

    .slideshow-control-btn {
      top: 45%;
      z-index: 3;

      div {
        position: absolute;
      }

      .slideshow-control-prev {
        left: $negative-controls;
      }

      .slideshow-control-next {
        right: $negative-controls;
      }
    }

    .slideshow-control-num {
      bottom: 0px;
      z-index: 3;

      ul {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }

      .slideshow-control-num-item {
        padding: 10px 13px;
        background-color: #1f1f1f;
        margin-top: 5px;
        margin-right: -15px;
        font-weight: 600;

        &.active {
          background-color: #f0141e;
        }
      }
    }
  }
}

