$slide-height: 545px;
$negative-controls: 0px;

.slideshow-content {
  background-color: #222;
  position: relative;

  .slideshow-list {
    height: $slide-height;
    overflow: hidden;
    position: relative;

    .slideshow-item {
      height: $slide-height;

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right:0;
      }

      .slideshow-label {
        background-color: #fff;
        position: absolute;
        z-index: 4;
        bottom: 0px;
        width: 80%;
        margin: 0 auto;
        left: 0px;
        right: 0px;
      }
    }
  }

  .slideshow-control {
    position: absolute;
    z-index: 3999;
    width: 100%;
    top: 45%;

    div {
      position: absolute;

      &.slideshow-control-prev {
        left: $negative-controls;
      }

      &.slideshow-control-next {
        right:  $negative-controls;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

