.unstyled-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.user-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.brightness {
  filter: brightness(0%);
}

.grayscale {
  filter: grayscale(100%);
}

.opacity {
  opacity: 0.5;
}
