.unstyled-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.user-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.float-left {
  float:left;
}

.float-right {
  float: right;
}
