$ads-width: 60%;

.advertisement-contents {
  margin: 20px 0;
  padding: 10px 0px 20px 0px;
  background-image: url(/images/layout/ads-background.png);

  .advertisement-titles {
    width: $ads-width;
    font-size: 10px;
  }

  .advertisement-figure {
    height: 90px;
    width: $ads-width;
    background-color: #6f6f6f;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
