$product-default-height: 400px;

.details-intro {
  background-color: #2a2a2a;
  margin-bottom: 50px;

  .intro-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;

    .intro-content-img {
      padding: 40px 0;
      height: $product-default-height;
      position: relative;
      overflow: hidden;
      max-width: 260px;

      img {
        background-image: url(/images/layout/image_not_found.jpg);
        min-height: $product-default-height;
        background-color: #222;
        width: 99%;
        border: 1px solid #fff;
      }
    }

    .intro-content-description {
      padding: 70px 70px 70px 0px;
      font-size: 18px;

      .description-title, .description-creators {
        margin-bottom: 20px;
      }

      .description-creators {
        line-height: 30px;
      }

      .description-text {
        button {
          color: #fff;
          background-color: transparent;
          border: none;
        }
      }
    }

    .intro-content-pricing {
      background-color: #3c3c3c;
      padding: 70px 40px;
    }
  }
}
