@for $i from 1 through 12 {
  .flex#{$i} {
    flex: #{$i};
  }
}

.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  justify-content: center;
}

.flex-column-center {
  @extend .flex;
  flex-direction: column;
  align-items: center;
}

.flex-between {
  @extend .flex;
  justify-content: space-between;
}

.flex-end-items {
  display: flex;
  align-items: flex-end;
}

.flex-end-content {
  display: flex;
  justify-content: flex-end;
}
