@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

/**
  * Media for pages
  *
*/

@media only screen and (max-width: 1200px) {
  .slideshow-content {
    .slideshow-list , .slideshow-item{
      max-height: 440px;
    }
  }
}
