.store-footer {
  background-color: #1f1f1f;
  padding-top: 25px;

  .store-footer-content {
    .store-footer-list {
      .store-footer-title {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .store-footer-link {
        font-size: 16px;
        line-height: 25px;

        a {
          color: #fff;
          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }

  .store-footer-copyright {
    border-top: 1px solid #818181;
    margin-top: 20px;
    padding: 20px 0;

    .copyright-social {
      padding-left: 30px;

      img {

        filter: brightness(1000%) grayscale(100%);
        opacity: 0.5;

        &:hover {
          filter: brightness(100%) grayscale(0%);
          opacity: 1;
        }
      }
    }
  }
}
