.top-menu {
  min-height: 50px;

  li {
    font-size: 20px;

    a {
      border-bottom: 5px solid transparent;
      font-size: 18px;
      height: 45px;
      padding: 0px 10px;

      &:hover {
        color: #ccc;
        border-bottom: 5px solid #f0141e;
      }
    }

    &:first-of-type {
      font-weight: bold;
    }
  }

  .top-menu-item--hot {
    padding-right: 30px;
    background: no-repeat url(/images/layout/separator-medium-white.png) right center;
  }
}
