.store-products-list {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 50px;

  .products-list-item {
    width: 25%;
    height: 550px;

    .products-item-title, .products-item-thumbnail {
      width: 90%;
    }

    .products-item-title {
      .products-item-title-name {
        color: #4b4b4b;
        font-size: 20px;
        margin: 10px;
      }

      .products-item-title-creator {
        font-size: 16px;
        margin-bottom: 15px;
      }

      .products-item-title-break {
        width: 50%;
        height: 2px;
        background-color: #4b4b4b;
        margin: 0 auto;
      }
    }

    .products-item-thumbnail {
      border: 1px solid #eee;
      background-image: url(/images/layout/image_not_found.jpg);
      background-color: #222;
      height: 400px;
      position: relative;
      overflow:hidden;

      img {
        width: 100%;
      }
    }
  }

}

.store-products-loadmore {
  padding: 20px;
  position: relative;
  top: -45px;
}
