.store-products-list {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 50px;

  .products-list-item {
    width: 25%;
    height: 550px;

    .products-item-title, .products-item-thumbnail {
      width: 90%;
    }

    .products-item-thumbnail {
      background-color: #222;
      height: 400px;
      position: relative;
      overflow:hidden;

      img {
        width: 100%;
      }
    }
  }

}

.store-products-loadmore {
  padding: 20px;
  position: relative;
  top: -45px;
}
