$ads-width: 60%;

.store-header-advertisement {
  background-color: #515151;
}

.store-header-top {
  padding-top: 30px;

  .store-header-top-social {
    padding-bottom: 20px;

    .top-social-icons {
      position: relative;
      height: 100%;

      img {
        padding-right: 15px;
        filter: brightness(0%);
        opacity: 0.5;
      }
    }
  }

  .top-bar-nav-top {
    ul {
      li {
        font-size: 15px;

        &:nth-child(1) {
          padding-right: 20px;
          margin-right: 20px;
          background: no-repeat url(/images/layout/separator-small.jpg) right center;
        }
      }
    }
  }

  .top-bar-nav-bottom {
    padding-bottom: 20px;

    .top-bar-search {
      padding-right: 20px;
      margin-right: 20px;
      background: no-repeat url(/images/layout/separator-medium.jpg) right center;

      input {
        padding-left: 15px;
        padding-right: 25px;
        height: 100%;
        border: none;
        border-bottom: 1px solid #515151;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        background: no-repeat url(/images/icons/store/search.png) right center;
      }
    }
  }
}

.store-header-top-menu {
  background-color: #1f1f1f;
  min-height: 50px;
}
