$ads-width: 60%;

.header-advertisement {
  background-color: #515151;
  .advertisement-contents {
    margin: 20px 0;
    padding: 10px 0px 20px 0px;
    background-image: url(/images/layout/ads-background.png);

    .advertisement-titles {
      width: $ads-width;
      font-size: 10px;
      font-weigth: 800;
    }

    .advertisement-figure {
      height: 90px;
      width: $ads-width;
      background-color: #6f6f6f;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.header-top {
  padding-top: 30px;

  .header-top-logo {}

  .header-top-social {
    .top-social-icons {
      position: relative;
      height: 100%;

      img {
        max-width: 22px;
        padding-right: 15px;
      }
    }
  }

  .top-bar-nav-top {
    ul {

      li {
        &:nth-child(1) {
          padding-right: 20px;
          margin-right: 20px;
          border-right: 2px dotted #515151;
        }
        font-size: 15px;
      }
    }
  }
}
