$slide-height: 370px;
$negative-controls: -50px;

.store-product-details-related {
  background-color: #353535;
  padding: 50px 0px;

  .details-related-header {
    margin-bottom: 50px;
    font-size: 22px;

    h2 {
      color: #fe3942;
    }
  }

  .details-related-list {
    height: 500px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 70px;

    .related-item {
      .related-item-title {
        .related-item-title-name {
          font-size: 20px;
          margin: 10px;

          a {
            color: #fff;
          }
        }

        .related-item-title-creator {
          font-size: 16px;
          margin-bottom: 15px;
        }

        .related-item-title-break {
          width: 50%;
          height: 2px;
          background-color: #4b4b4b;
          margin: 0 auto;
        }
      }

      .related-item-thumbnail {
        width: 100%;
        border: 1px solid #eee;
        background-image: url(/images/layout/image_not_found.jpg);
        background-color: #222;
        height: $slide-height;
        position: relative;
        overflow:hidden;

        img {
          width: 100%;
        }
      }
    }
  }

  .details-related-controls {
    .details-related-controls-btn {
      position: absolute;
    }

    .details-related-controls-btn {
      top: 45%;
      z-index: 3;

      div {
        position: absolute;
      }

      .related-controls--prev {
        left: $negative-controls;
      }

      .related-controls--next {
        right: $negative-controls;
      }
    }
  }

}
